// all alert here (panel alerts styles and animations and ...)
// تمامی استایل آلرت های استفاده شده در این کامپوننت می باشد

// update banner styles
#Page-404 {
  @extend %fixed-inset;
  height: 80px;
  background: radial-gradient(
    circle,
    $main-bg-color 80%,
    rgba(0, 0, 0, 0.8) 20%
  );
  z-index: 200;
  transition: 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateY(-100%);

  #Update-banner {
    @extend %flexcenter, %auto-margin, %max-width;
    height: 80px;
  }

  .close__banner {
    @extend %flexcenter,
      %absolute,
      %rounded-radius,
      %transition-cubic,
      %pointer;
    right: 30px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.9);

    @media (max-width: $md-620px) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: $xs-480px) {
      right: 20px;
      top: 0;
    }

    @media (max-width: 400px) {
      right: 90%;
      top: 40px;
    }

    &::after,
    &::before {
      @extend %dark-color-light;
      content: "";
      position: inherit;
      height: 75%;
      width: 2px;
      transform: rotate(45deg);
      transition: inherit;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &:hover::after {
      transform: rotate(135deg);
    }

    &:hover::before {
      transform: rotate(-135deg);
    }

    &:hover {
      transform: scale(0.9);
    }
  }

  a {
    @extend %bigfont, %primary-text-color;

    @media (max-width: $md-620px) {
      font-size: $fontSize-09rem;
    }

    &:hover {
      color: $white-color;
    }
  }
}

.showUpdate {
  transform: translateY(0) !important;
}

// // // // // // // // // // // //
// panel page alerts start here

// panel modal start here
.panelMask {
  @extend %fixed-inset, %fullwidth, %transition-4;
  @include opacity-visibility-true;
  z-index: 99;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: $sidebar-bg-color;
  cursor: url(../assest/images/icons/cancel.png), default;
}

.panelMaskin {
  @include opacity-visibility-false;
}

.panelAlert {
  @extend %CenterFixed,
    %center-text,
    %content-bg-color,
    %btn-border-radius,
    %content-shadow,
    %whitecolor,
    %transition-4,
    %pointer-none;
  padding: 1.4rem 1rem;
  width: 460px;
  max-width: 95%;
  z-index: 100;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);

  h1 {
    @extend %titlefont;
    font-size: 1.5rem;
  }

  p {
    margin: 1.4rem 0;
  }

  button {
    @extend %pointer, %relative, %overflow-hidden, %transition-4, %btn-30px;
    padding: 0 1rem;
    margin: 0 0.2rem;
    height: 40px;
    z-index: 1;

    &:hover,
    &:focus {
      @extend %whitecolor;
    }

    &:hover::after,
    &:focus::after,
    &:hover::before,
    &:focus::before {
      width: 55%;
    }

    &::after,
    &::before {
      @extend %psudoclasses,
        %absolute,
        %fullheight,
        %outlie-button,
        %transition-4;
      width: 0;
      top: 0;
      z-index: -1;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }
}

.panelAlertin {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
// panel modal end

// succses alert and danger alert styles
.Suc-alert {
  @extend %fixed, %img-border-radius, %whitecolor, %alert-red;
  font-size: 1.3rem;
  right: -100%;
  bottom: 15px;
  padding: 0.6rem 1.4rem;
  z-index: 99;
  transform: skewX(50deg);
  transition: 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);

  // alert progress bar
  &::after {
    @extend %psudoclasses, %img-border-radius, %fullwidth;
    background: #ffbf00;
    height: 5px;
    right: 0;
    top: 0;
    animation: alert-progress 4s linear forwards;
  }

  @keyframes alert-progress {
    to {
      width: 0;
    }
  }
}

// alert class in
.Suc-alert-in {
  right: 30px;
  transform: skewX(0);
}

// alert class out
.Suc-alert-out {
  right: -100%;
  transform: skewX(50deg);
}

// background for succsesfull alert
.Suc-alert-green {
  @extend %alert-green;
}

// for undo alert button
.undoDeletePost {
  @extend %fixed,
    %whitecolor,
    %pointer,
    %img-border-radius,
    %bigfont,
    %alert-red,
    %alert-green;
  padding: 0.4rem 1rem;
  bottom: 20px;
  right: 50%;
  z-index: 99;
  transform: translate(-50%, 200%);
  transition: 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

  // progress bar for undo button
  &::after {
    @extend %psudoclasses, %img-border-radius, %fullheight, %alert-red;
    width: 0;
    z-index: -1;
    top: 0;
    left: 0;
  }

  @keyframes progress-undo {
    to {
      width: 100%;
    }
  }

  // close undo button
  span {
    @extend %flexcenter,
      %absolute,
      %bigfont,
      %pointer,
      %img-border-radius,
      %transition-2,
      %alert-red,
      %fullheight;
    padding: 0 0.7rem;
    top: 0;
    right: -45px;

    &:hover,
    &:active,
    &:focus {
      background: $download-btn;
    }
  }
}

// undo delete post class
.undoDeletePost-in {
  transform: translate(-50%, 0);
}

// undo delete post progress bar class
.undoDeletePost-in::after {
  animation: progress-undo 4s linear forwards;
}

// End
